name: Build Documentation

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

concurrency:
  group: 'pages-build'
  cancel-in-progress: true

jobs:
  build-docs:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache dependencies
        uses: actions/cache@v4
        if: always()
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Generate documentation
        run: cargo doc --no-deps --lib
        shell: pwsh
      - name: Configure Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
        shell: pwsh
      - name: Deploy to gh-pages
        run: |
          git checkout --orphan gh-pages
          git reset --hard
          git add target/doc -f --quiet
          git commit -m "Update documentation"
          git push -f origin gh-pages
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
