name: Validation

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build-test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ matrix.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      # Check if formatting is correct
      - name: Check Rust formatting
        run: cargo fmt -- --check

      - name: Check Rust with Clippy
        run: cargo clippy -- -D warnings
      # Run cargo check to ensure code will compile
      - name: Check code compilation
        run: cargo check --all