name: Validation

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:
  build-test:
    name: Build and Test
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: taiki-e/install-action@nextest

      # Check if formatting is correct
      - name: Check Rust formatting
        run: cargo fmt -- --check

      - name: Check Rust with Clippy
        run: cargo clippy -- -D warnings
      # Run cargo check to ensure code will compile
      - name: Check code compilation
        run: cargo check --all
        shell: pwsh
      - name: Run tests (no default features)
        run: cargo nextest r --no-default-features --features "__test_environment"
        shell: pwsh
      - name: Run tests (with default features)
        run: cargo nextest r --all-features --target-dir target/nextest-all-features
        shell: pwsh